<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gallery</title>
    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css" href="../styles/global.css" />
    <link rel="stylesheet" type="text/css" href="../styles/gallery.css" />

    <!-- Fonts, Delete if you want a different font -->
    <link
      href="https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="TopNav">
        <h1 class="navTitle">Gallery</h1>
        <nav class="navbar">
          <a href="./home.html">Home</a>
          <a href="./events.html">Events</a>
          <a href="./hotels.html">Hotels</a>
          <a href="./tours.html">Tours</a>
          <a href="./restaurants.html">Restaurants</a>
          <a href="./gallery.html">Photo Gallery</a>
        </nav>
      </div>
      <!-- ADD WHAT YOU WANT HERE-->
      <p>EXAMPLE BLAH BLAH</p>
    </div>
  </body>
</html>
