<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TorontoCitySights</title>
    <link rel="stylesheet" type="text/css" href="../styles/home.css" />
    
    <!-- Fonts, Delete if you want a different font -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="main-container">
      <div class="TopNav">
        <h1 class="navTitle">TorontoCitySights.com</h1>
        <nav class="navbar">
          <a href="./home.html">Home</a>
          <a href="./events.html">Events</a>
          <a href="./hotels.html">Hotels</a>
          <a href="./tours.html">Tours</a>
          <a href="./restaurants.html">Restaurants</a>
          <a href="./gallery.html">Photo Gallery</a>
        </nav>
      </div>
      <div class="skyline-image">
        <img src="../images/architecture-blue-sky-boats-buildings-614223.jpg" />
      </div>
      <div class="home-bottom">
        <h3>Welcome to the City!</h3>
        <p>
          Toronto is one of the largest cities in the world with a population of
          almost 3 million. It is a melting pot of cultural diversity as it
          welcomes residents and tourists from all around the world.
        </p>
      </div>
    </div>
  </body>
</html>
