<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Website HomePage</title>
    <link rel="stylesheet" type="text/css" href="../styles/home.css" />
  </head>
  <body>
    <div class="TopNav">
      <h1 class="navTitle">TorontoCitySights.com</h1>
      <nav class="navbar">
        <a href="./home">Home</a>
        <a href="./events">Events</a>
        <a href="./hotels">Hotels</a>
        <a href="./tours">Tours</a>
        <a href="./restaurants">Restaurants</a>
        <a href="./gallery">Photo Gallery</a>
      </nav>
    </div>
  </body>
</html>
