/*
  uses flex box, very powerful look it up, makes it (somewhat) responsive
*/

html {
  height: 100%;
  margin: 0;
}
body {
  background-color: lightblue;
  margin: 0 10% 0 10%;
  height: 100%;
}
.main-container {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Nav Bar Styling */
.TopNav {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin: 0 3% 0 3%;
}

.navbar {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar a {
  margin-right: -5%;
}

/* Image Styling */

.skyline-image {
  margin-top: 3%;
}
.skyline-image img {
  max-width: 100%;
  max-height: 100%;
}

/* Bottom Section */

.home-bottom {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: -3%;
}
.home-bottom h3 {
  text-align: center;
  margin-bottom: 0;
}

.home-bottom p {
  margin: 1% 6% 1% 6%;
}
