/*
  uses flex box, very powerful look it up, makes it (somewhat) responsive
*/

html {
  height: 100%;
  margin: 0;
}
body {
  background-color: lightblue;
  margin: 0 10% 0 10%;
  height: 100%;
  font-family: "Cormorant SC", serif;
}
/*
This is the styling for the container that holds every element
inside of the <body>
*/
.main-container {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Nav Bar Styling */
.TopNav {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin: 0 3% 0 3%;
}
/* Container for every navbar link styling*/
.navbar {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navTitle {
  font-size: 50px;
}

.navbar a {
  font-size: 20px;
  margin-right: -5%;
  text-decoration: none;
}
/* When you hover navbar selection underlines it*/
.navbar a:hover {
  text-decoration: underline;
}

/* Removes purple link clicked colour */
.navbar a:visited {
  text-decoration: none;
  color: black;
}

/* Image Styling */

.skyline-image {
  margin-top: 3%;
  margin-bottom: -10%;
}
.skyline-image img {
  max-width: 100%;
  height: 75%;
  width: 100%;
}

/* Bottom Section */

.home-bottom {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: -3%;
}
.home-bottom h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 0;
}

.home-bottom p {
  font-size: 30px;
  margin: 1% 6% 1% 6%;
}
